In [1]:
import pandas as pd
import numpy as np

In [2]:
#series

In [3]:
my_dict = {"Alonso" : 45 , "Hamilton" : 40 , "Max" : 28 , "Russel" : 27}

In [4]:
pd.Series(my_dict)

Alonso      45
Hamilton    40
Max         28
Russel      27
dtype: int64

In [6]:
age_list = [45,40,28,27]
name_list = ["Alonso", "Hamilton", "Max", "Russel"]

In [7]:
pd.Series(name_list , age_list)

45      Alonso
40    Hamilton
28         Max
27      Russel
dtype: object

In [9]:
pd.Series(data = age_list, index = name_list)

Alonso      45
Hamilton    40
Max         28
Russel      27
dtype: int64

In [11]:
numpy_array = np.arange(0,8)

In [12]:
numpy_array

array([0, 1, 2, 3, 4, 5, 6, 7])

In [13]:
pd.Series(numpy_array)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64

In [16]:
new_numpy_array = np.array([10,20,30,40])

In [17]:
pd.Series(new_numpy_array)

0    10
1    20
2    30
3    40
dtype: int64

In [18]:
new_numpy_array

array([10, 20, 30, 40])

In [19]:
name_list

['Alonso', 'Hamilton', 'Max', 'Russel']

In [20]:
pd.Series(data = new_numpy_array, index = name_list)

Alonso      10
Hamilton    20
Max         30
Russel      40
dtype: int64

In [21]:
 my_series = pd.Series(data = new_numpy_array, index = name_list)

In [23]:
type(my_series)

pandas.core.series.Series

In [24]:
my_series["Hamilton"]

np.int64(20)

In [25]:
my_series["Hamilton"] = 60

In [26]:
my_series

Alonso      10
Hamilton    60
Max         30
Russel      40
dtype: int64

In [27]:
quiz_results1 = pd.Series(data=[70,60,100], index=["A","B","C"])
quiz_results2 = pd.Series(data=[80,30,50], index=["A","B","C"])

In [28]:
quiz_results1

A     70
B     60
C    100
dtype: int64

In [29]:
quiz_results2

A    80
B    30
C    50
dtype: int64

In [30]:
quiz_results1 + quiz_results2

A    150
B     90
C    150
dtype: int64

In [31]:
exam_results1 = pd.Series(data=[70,60,100], index=["A","B","C"]) 
exam_results2 = pd.Series(data=[80,30,50], index=["A","D","C"])

In [32]:
exam_results1 + exam_results2

A    150.0
B      NaN
C    150.0
D      NaN
dtype: float64